<table>
<tr>
<td style="overflow-y: scroll">
<SearchInput @updateMap={{this.updateCities}} {{on 'change' this.initMap }}/>
</td>

<td>

<div id="map"  {{on 'load' this.initMap }} /> 
<input type="hidden"  value={{this.cities}} {{on 'change' this.initMap }}/>

</td>
<td style="overflow-y: scroll">
<h2>Contactpoints:</h2>
</td>
</tr>
</table>

{{yield}}
